@CHARSET "UTF-8";

.tbl {
	font-size: 12px;
	border: 1px solid #cccccc;
	background-image: none;
	border-collapse: collapse;
}

.tbl_input {
	border: none;
}

.errMsg {
	font-weight: bold;
	color: #FF0000;
	text-align: left;
}

.txBox {
	background-color: #ffffff;
	padding: 2px;
	border: 1px solid #aaaaaa;
	font-size: 13px;
}
.tr2, .td2 {
	background-image: url(../images/bg_td2.gif);
	background-repeat:repeat-x;
	background-position:center;
	font-weight: normal;
	background-color: #f0f0f0;
	padding: 3px;
	color: #000000;
}
.btn {
	font-size: 11px;
	font-weight: normal;
	background-image: url(../images/btn_bg.gif);
	background-repeat:no-repeat;
	width: 50px;
	height: 18px;
	border: 0px;
	cursor: pointer;
	padding-top: 2px;
}
.btn.btn_wider {
	background-image: url(../images/btn_wider_bg.gif);
	width: 75px;
}

.algn-l{
	text-align: left;
}

.algn-r{
	text-align: right;
}

.algn-c{
	text-align: center;
}
.lbl_left {
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-size: 13px;
	width: 120px;
}

.tbl_list {
	font-size: 12px;
	border: 1px solid #cccccc;
	background-image: none;
	border-collapse: collapse;
}
.lbl_paging {
	color: #000000;
	text-align: left;
	font-size: 12px;
}

.lbl_footer {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	width: 850px;
}



.login-body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.button-normal {
  background-color: #3E3D54;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-danger {
  background-color: #f44336;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.textbox {
	padding: 8px;
	height: 30;
	width: 275px;
	background: #f2f2f2;
	color: #333;
	border: none;
	border-bottom: 1px solid #999;
	border-radius: 1px;
	font-size: 15px;
	outline: none;
	transition: all 250ms ease-in;
}

.dropdown {
  display: inline-block;
  position: relative;
  border: 1px solid #eee;
  vertical-align: middle;
  padding: 8px;
  height: 30;
  width: 275px;
}

.dropdowndate {
  display: inline-block;
  position: relative;
  border: 1px solid #eee;
  vertical-align: middle;
  padding: 8px;
  height: 30;
}


