<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/javascript/mng005.js}"></script>
    <title>ユーザ管理</title>
</head>
<body>
<!-- Begin vung header -->
<div>
    <div>
        <table>
            <tr>
                <td width="80%"><img th:src="@{/images/logo-manager-user.gif}" alt="TestProject"/>
                <td>
            </tr>
            <tr>
                <td align="left">
                    <a th:href="@{/top}" class="button-normal">トップ</a>
                    <a th:href="@{/logout}" class="button-danger">ログアウト</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- End vung header -->

<!-- Begin vung input-->
<br/>
<br/>
<form th:action="saveuser" method="post" name="inputform" th:object="${user}">
    <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
        <tr>
            <th align="left">
                <div style="padding-left:100px;">
                    情報確認
                </div>
                <div style="padding-left:100px;">&nbsp;</div>
            </th>
        </tr>
        <tr>
            <td align="left">
                <div style="padding-left:100px;">
                    <table border="1" width="70%" class="tbl_input" cellpadding="4" cellspacing="0">
                        <tr>
                            <td class="lbl_left">アカウント名:</td>
                            <td align="left" th:text="${user.loginName}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">グループ:</td>
                            <td align="left" th:text="${user.group.groupName}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">氏名:</td>
                            <td align="left" th:text="${user.fullName}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">カタカナ氏名:</td>
                            <td align="left" th:text="${user.fullNameKana}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">生年月日:</td>
                            <td align="left" th:text="${user.birthday}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">メールアドレス:</td>
                            <td align="left" th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">電話番号:</td>
                            <td align="left" th:text="${user.tel}"></td>
                        </tr>
                    </table>
                </div>
                <br/>
                <br/>
                <div style="padding-left:100px;">
                    <a href="#" th:onclick="toggleDiv()">日本語能力</a>
                </div>
                <div id="japaneseleveldiv" style="padding-left:100px;">
                    <table border="1" width="70%" class="tbl_input" cellpadding="4" cellspacing="0">
                        <tr>
                            <td class="lbl_left">資格:</td>
                            <td align="left" th:text="${user.detailUser.japaneseLevel.nameLevel}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">資格交付日:</td>
                            <td align="left" th:text="${user.detailUser.startDate}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">失効日:</td>
                            <td align="left" th:text="${user.detailUser.endDate}"></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">点数:</td>
                            <td align="left" th:text="${user.detailUser.total}"></td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>
    <div style="padding-left:100px;">&nbsp;</div>
    <!-- Begin vung button -->
    <div style="padding-left:100px;">
        <table border="0" cellpadding="4" cellspacing="0">
            <tr>
                <th width="200px" align="center">&nbsp;</th>
                <td>
                    <a class="button-normal" type="submit" th:href="@{/formUpdate/{id}(id=${user.user_id})}">編集</a>
                </td>
                <td>
                    <a class="button-normal" th:onclick="'showConfirm(\'' + ${user.user_id} + '\')'">削除</a>
                </td>
                <td>
                    <input class="button-normal" type="button" value="戻る" th:onclick="back()"/>
                </td>
            </tr>
        </table>
    </div>
    <!--  th:href="@{/deleteUser/{id}(id=${user.user_id})}"-->
    <!-- End vung button -->
</form>
<!-- End vung input -->

<!-- Begin vung footer -->
<div class="lbl_footer">
    <br><br><br><br>
    Copyright ©　2010　株式会社. All rights reserved.
</div>
<!-- End vung footer -->
<!--<h2>HELLO</h2>-->
</body>

</html>